<div class="map map--chairs">
    <div class="performance__image">
        <img class="performance__img" src="../images/main.jpg" alt="{{ name }}" />
    
        <div class="performance__details">
            <div class="performance__details__top">
                <h1 class="performance__title">
                    {{ name }}
                </h1>
    
                <div class="performance__date">
                    {% if events %}
                        <time class="performance-short__date__day" datetime="{{ events[0].date | date: "%d.%m.%Y" }}">
                            {{ events[0].date | date: "%d.%m.%Y" }}
                        </time>
                    {% else %}
                        <div class="performance-short__date__soon">
                            Soon
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="performance__details__bottom">
                <div class="performance__address">
                    {{ address }}
                </div>
            </div>
        </div>
    </div>

    <div class="scene">
        <div class="lines">
            <div class="lines__left"></div>
            <div class="lines__right"></div>
        </div>
        <div class="ellipses">
            <div class="ellipses__inner"></div>
            <div class="ellipses__outer"></div>
            <div class="ellipses__title">Сцена</div>
        </div>
    </div>

    <div id="js-chairs" class="chairs">
        <div class="chairs__line chairs__line--1">
            <div class="chairs__line__left">
                <button class="chair js-chair chair--1-1 chair chair--1">
                    <span class="chair__label">
                        1
                    </span>
                </button>
                <button class="chair js-chair chair--1-2 chair chair--2">
                    <span class="chair__label">
                        2
                    </span>
                </button>
                <button class="chair js-chair chair--1-3 chair chair--3">
                    <span class="chair__label">
                        3
                    </span>
                </button>
                <button class="chair js-chair chair--1-4 chair chair--4">
                    <span class="chair__label">
                        4
                    </span>
                </button>
                <button class="chair js-chair chair--1-5 chair chair--5">
                    <span class="chair__label">
                        5
                    </span>
                </button>
                <button class="chair js-chair chair--1-6 chair chair--6">
                    <span class="chair__label">
                        6
                    </span>
                </button>
                <button class="chair js-chair chair--1-7 chair chair--7">
                    <span class="chair__label">
                        7
                    </span>
                </button>
                <button class="chair js-chair chair--1-8 chair chair--8">
                    <span class="chair__label">
                        8
                    </span>
                </button>
                <button class="chair js-chair chair--1-9 chair chair--9">
                    <span class="chair__label">
                        9
                    </span>
                </button>
            </div>
            <div class="chairs__line__right">
                <button class="chair js-chair chair--1-10 chair chair--10">
                    <span class="chair__label">
                        10
                    </span>
                </button>
                <button class="chair js-chair chair--1-11 chair chair--11">
                    <span class="chair__label">
                        11
                    </span>
                </button>
                <button class="chair js-chair chair--1-12 chair chair--12">
                    <span class="chair__label">
                        12
                    </span>
                </button>
                <button class="chair js-chair chair--1-13 chair chair--13">
                    <span class="chair__label">
                        13
                    </span>
                </button>
                <button class="chair js-chair chair--1-14 chair chair--14">
                    <span class="chair__label">
                        14
                    </span>
                </button>
                <button class="chair js-chair chair--1-15 chair chair--15">
                    <span class="chair__label">
                        15
                    </span>
                </button>
                <button class="chair js-chair chair--1-16 chair chair--16">
                    <span class="chair__label">
                        16
                    </span>
                </button>
                <button class="chair js-chair chair--1-17 chair chair--17">
                    <span class="chair__label">
                        17
                    </span>
                </button>
                <button class="chair js-chair chair--1-18 chair chair--18">
                    <span class="chair__label">
                        18
                    </span>
                </button>
            </div>
        </div>
        <div class="chairs__line chairs__line--2">
            <div class="chairs__line__left">
                <button class="chair js-chair chair--2-1 chair chair--1">
                    <span class="chair__label">
                        1
                    </span>
                </button>
                <button class="chair js-chair chair--2-2 chair chair--2">
                    <span class="chair__label">
                        2
                    </span>
                </button>
                <button class="chair js-chair chair--2-3 chair chair--3">
                    <span class="chair__label">
                        3
                    </span>
                </button>
                <button class="chair js-chair chair--2-4 chair chair--4">
                    <span class="chair__label">
                        4
                    </span>
                </button>
                <button class="chair js-chair chair--2-5 chair chair--5">
                    <span class="chair__label">
                        5
                    </span>
                </button>
                <button class="chair js-chair chair--2-6 chair chair--6">
                    <span class="chair__label">
                        6
                    </span>
                </button>
                <button class="chair js-chair chair--2-7 chair chair--7">
                    <span class="chair__label">
                        7
                    </span>
                </button>
                <button class="chair js-chair chair--2-8 chair chair--8">
                    <span class="chair__label">
                        8
                    </span>
                </button>
                <button class="chair js-chair chair--2-9 chair chair--9">
                    <span class="chair__label">
                        9
                    </span>
                </button>
            </div>
            <div class="chairs__line__right">
                <button class="chair js-chair chair--2-10 chair chair--10">
                    <span class="chair__label">
                        10
                    </span>
                </button>
                <button class="chair js-chair chair--2-11 chair chair--11">
                    <span class="chair__label">
                        11
                    </span>
                </button>
                <button class="chair js-chair chair--2-12 chair chair--12">
                    <span class="chair__label">
                        12
                    </span>
                </button>
                <button class="chair js-chair chair--2-13 chair chair--13">
                    <span class="chair__label">
                        13
                    </span>
                </button>
                <button class="chair js-chair chair--2-14 chair chair--14">
                    <span class="chair__label">
                        14
                    </span>
                </button>
                <button class="chair js-chair chair--2-15 chair chair--15">
                    <span class="chair__label">
                        15
                    </span>
                </button>
                <button class="chair js-chair chair--2-16 chair chair--16">
                    <span class="chair__label">
                        16
                    </span>
                </button>
                <button class="chair js-chair chair--2-17 chair chair--17">
                    <span class="chair__label">
                        17
                    </span>
                </button>
                <button class="chair js-chair chair--2-18 chair chair--18">
                    <span class="chair__label">
                        18
                    </span>
                </button>
            </div>
        </div>
        <div class="chairs__line chairs__line--3">
            <div class="chairs__line__left">
                <button class="chair js-chair chair--3-1 chair chair--1">
                    <span class="chair__label">
                        1
                    </span>
                </button>
                <button class="chair js-chair chair--3-2 chair chair--2">
                    <span class="chair__label">
                        2
                    </span>
                </button>
                <button class="chair js-chair chair--3-3 chair chair--3">
                    <span class="chair__label">
                        3
                    </span>
                </button>
                <button class="chair js-chair chair--3-4 chair chair--4">
                    <span class="chair__label">
                        4
                    </span>
                </button>
                <button class="chair js-chair chair--3-5 chair chair--5">
                    <span class="chair__label">
                        5
                    </span>
                </button>
                <button class="chair js-chair chair--3-6 chair chair--6">
                    <span class="chair__label">
                        6
                    </span>
                </button>
                <button class="chair js-chair chair--3-7 chair chair--7">
                    <span class="chair__label">
                        7
                    </span>
                </button>
                <button class="chair js-chair chair--3-8 chair chair--8">
                    <span class="chair__label">
                        8
                    </span>
                </button>
                <button class="chair js-chair chair--3-9 chair chair--9">
                    <span class="chair__label">
                        9
                    </span>
                </button>
            </div>
            <div class="chairs__line__right">
                <button class="chair js-chair chair--3-10 chair chair--10">
                    <span class="chair__label">
                        10
                    </span>
                </button>
                <button class="chair js-chair chair--3-11 chair chair--11">
                    <span class="chair__label">
                        11
                    </span>
                </button>
                <button class="chair js-chair chair--3-12 chair chair--12">
                    <span class="chair__label">
                        12
                    </span>
                </button>
                <button class="chair js-chair chair--3-13 chair chair--13">
                    <span class="chair__label">
                        13
                    </span>
                </button>
                <button class="chair js-chair chair--3-14 chair chair--14">
                    <span class="chair__label">
                        14
                    </span>
                </button>
                <button class="chair js-chair chair--3-15 chair chair--15">
                    <span class="chair__label">
                        15
                    </span>
                </button>
                <button class="chair js-chair chair--3-16 chair chair--16">
                    <span class="chair__label">
                        16
                    </span>
                </button>
                <button class="chair js-chair chair--3-17 chair chair--17">
                    <span class="chair__label">
                        17
                    </span>
                </button>
                <button class="chair js-chair chair--3-18 chair chair--18">
                    <span class="chair__label">
                        18
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>