<h2>{{ performance.data.name }}</h2>
<img src="{{ performance.url }}images/main.jpg" alt="{{ performance.data.name }}"/>

<p>{{ performance.data.description }}</p>

<ul>
    {% for event in performance.data.events %}
        <li>
            <time class="archive__year" datetime="{{ event.date | date: "%d.%m.%Y" }}">{{ event.date | date: "%d.%m.%Y" }}</time>
        </li>
    {% endfor %}
</ul>

<a href="{{ performance.url }}">details</a>